*{color:beige; 

}
p { color: red;
    width: 300px;

}
section {
    border-top: 7px solid blue;
    border-bottom: 7px solid red;
    border-right: 7px solid green;
    border-left: 7px solid yellow;
    color:white;
    padding: 10px 40px 10px 440px;
    background-color: black ;
    margin: 2px;
    font-size:larger;

    font-weight: 1000;
    
    

}
