*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

section{    
    height: 100vh;
}

section#hero {
    background-color: lightgray;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

section#Proyects{
   margin-top: 10px;
    background-color: gray;
}

 h1{
    font-size: 3rem;
}

 h2{    
    font-size: 2rem;
    text-align: center;
}

.proyect-list{
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    justify-content: center;
    background-color: gray;
    
}
.proyect-detail{
    margin: 170px;
    width: 300px;
    
}

.proyect-detail img{
    width: 100%;
    justify-content: center;
   
    
    
    

}




