*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

section{    
    height: 100vh;
}

section#hero {
    background-color: lightgray;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}



 h1{
    font-size: 3rem;
}

 h2{    
    font-size: 2rem;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-feature-settings: "akhn";
}

h3{




}










