*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}



section{    
    height: 90vh;
}

header{
    position: sticky;
    top: 0;
    background-color: antiquewhite;
    padding-top: 30px;
    padding-bottom: 30px;


}




section#hero {
    background-color: lightgray;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

section#Proyects{
    margin-top: 10px;
    background-color: gray;
}

section#contact{

    
}




 h1{
    font-size: 3rem;
}

 h2{    
    font-size: 2rem;
    text-align: center;
}

.proyect-list{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: gray;
    
}
.proyect-detail{
    margin: 170px;
    width: 300px;
    
}

.proyect-detail img{
    width: 100%;
    border:20px;
    
}

nav ul{
     display: flex;
     justify-content: center;
     list-style: none;


}

nav ul li{
    margin-left: 40px;
    margin-right: 40px;
    padding: 10px 20px;
    background-color: lightblue ;
    border: 5px  block black;


}














